<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.tutorials.licenta_yummy"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="MissingClass">

        <!-- Ecranul de Login - ACUM este primul la pornire -->
        <activity android:name="eu.tutorials.licenta_yummy.ui.ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Ecranul de Inregistrare -->
        <activity android:name="eu.tutorials.licenta_yummy.ui.ui.RegisterActivity"
            android:exported="false" />

        <!-- Ecranul de Filtre - apare dupa login -->
        <activity android:name="eu.tutorials.licenta_yummy.ui.ui.FilterActivity"
            android:exported="false" />

        <!-- Ecranul principal (retetele) - se deschide dupa login -->
        <activity android:name="eu.tutorials.licenta_yummy.ui.ui.MainActivity"
            android:exported="false" />

        <!-- Ecranul de detalii reteta -->
        <activity android:name="eu.tutorials.licenta_yummy.ui.ui.RecipeDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.RecipeDetail"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>